@import "../vars";

.btn {
	display: inline-block;
	background: $primary;
	font-size: 18px;
	line-height: 21px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-radius: 8px;
	min-width: 190px;
	border: 1px solid $primary;
	padding: 12px;
	transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
	&:hover {
		background-color:#fff;
		color: $primary;
	}

	&:disabled {
		background: $primary;
		color: white;
		opacity: 0.4;
		cursor: not-allowed;
	}
}