@import "../vars";

.btn {
	display: inline-block;
	background: $primary;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border-radius: 8px;
	min-width: 190px;
	border: 1px solid $primary;
	padding: 12px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
	&-big {
		min-width: 275px;
		font-size: 24px;
		line-height: 28px;
	}
	&:hover {
		background-color:#fff;
		color: $primary;
	}

	&:disabled {
		background: $primary;
		color: #fff;
		opacity: 0.4;
		cursor: not-allowed;
	}
	&-red {
		background-color: #DC3545;
		border: 1px solid #DC3545;
		&:hover {
			background-color: #fff;
			color: #DC3545;
		}
		&:disabled {
			background-color: #DC3545;
			color: #fff;
		}
	}
}

.btn__input {
	display: none;
}

.btn__input-label {

}