@import "../vars";

.choice {
	display: flex;
	gap: 10px;
	&-grid {
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.choice__elem {
	min-width: 110px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	border-radius: 10px;
	padding: 0 8px;
	background-color: $secondary;

	transition: background-color .2s ease, color .2s ease;
	&-wide {
		min-width: 150px;
	}
	&:hover {
		background-color: $secondary-hover;
	}
	&.active{
		background-color: $primary;
		color: #fff;
		&:hover {
			background-color: lighten($primary, 5%);
		}
	}

	&-with_img {
		display: flex;
		align-items: center;
		column-gap: 15px;
		font-size: 18px;
		padding: 15px;
		min-width: 236px;
		text-align: start;
		line-height: 21px;
		min-height: 72px;
		& svg {
			min-width: 40px;
			min-height: 40px;
			fill: #000;
			transition: fill .2s ease;

		}
		&.active svg{
			fill: #fff;
		}
	}
	&-text_sm {
		font-size: 16px;
		line-height: 19px;
	}
}
