.add-right {
	width: 276px;
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.add-right__choices {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	max-height: 330px;
	overflow-y: auto;
}

.add-right__choice-title {
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 10px;
}

.add-right__choice {
	width: 100%;
}